# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# 忽略开发过程中生成的构建产物
dist/

# vant-weapp
vant-weapp/dist/
vant-weapp/es/
vant-weapp/lib/
miniprogram/miniprogram_npm/