/* pages/Login/index.wxss */
page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30rpx 30rpx;
  box-sizing: border-box;

  .Head {
    width: 100%;
    background-color: white;

    .Title {
      font-size: 40rpx;
    }

    .desc {
      font-size: 30rpx;
    }
  }

  .Form {
    background-color: white;
    padding-top: 60rpx;

    .phone {
      height: 100rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;

      text {
        color: cornflowerblue;
      }
      .hideCode {
        color: #c3c3c5;
      }
    }

    .code {
      height: 100rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .Tip {
    padding-top: 20rpx;
    color: #cccccc;
  }

  .FixedBottom {
    position: fixed;
    bottom: 30rpx;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);

    .down_Icon {
      color: rgb(143, 182, 202);
      font-size: 45rpx;
      transform: rotate(270deg);
    }
  }
}