/* pages/House/index.wxss */
.Empty {
  .van-empty {
    .van-empty__description::after {
      content: '请点击';
      color: rgb(64, 159, 219);
    }
  }
}

page {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .house-list {
    height: 100vh;
    padding: 15px 15px;
    box-sizing: border-box;

    .house-Info {
      color: rgb(155, 155, 155);
      font-size: 14px;
    }

    .house-card {
      width: 100%;
      background-color: white;
      padding-top: 30px;

      .card-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .wanrn {
          background-color: rgb(252, 242, 237);
          padding: 5px 10px;
          border-radius: 3px;
          font-size: 13px;
          color: red;
        }

        .success {
          background-color: rgb(235, 248, 240);
          padding: 5px 10px;
          border-radius: 3px;
          font-size: 13px;
          color: rgb(39, 174, 96);
        }

        .primary {
          background-color: rgb(229, 240, 251);
          padding: 5px 10px;
          border-radius: 3px;
          font-size: 13px;
          color: rgb(45, 156, 219);
        }
      }

      .room-num {
        padding: 15px 0 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .room {
          color: rgb(195, 200, 214);
          font-size: 15px;
        }

        .num {
          color: rgb(104, 104, 104);
        }
      }

      .owner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .owner-owner {
          color: rgb(195, 200, 214);
          font-size: 15px;
        }

        .name {
          color: rgb(104, 104, 104);
        }
      }
    }

    .AddHouse {
      position: fixed;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;

      .plusIcon {
        color: rgb(85, 145, 175);
        font-size: 25px;
      }
    }
  }
}